<%- include('partials/header.ejs') %>
<section class="intro_login">
    <div class="inner">
      <div class="content">
        <h1>Login Yourself</h1>
        <a class="btn_login" href="/login/twitter">Login With Twitter</a>
      </div>
    </div>
  </section>
<!-- <a href="/login/twitter">Log In with Twitter</a> -->
<%- include('partials/footer.ejs') %>
